@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-origin{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 25px solid hsl(0,0%,100%);
}



